@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: var(--font-suisse-intl);

  --color-transparent: transparent;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-bricky-brick: #cc4429;
  --color-namara-grey: #7b7b7b;
  --color-moon-veil: #8b9bb1;
  --color-bengala-red: #932d19;
  --color-grenadier: #c24e37;
  --color-tabasco: #a02912;
  --color-unbleached: #fcfaf5;
  --color-blue-shimmer: #b6dce1;
  --color-brilliance: #fdfdfd;
  --color-minor-blue: #b8e0e7;
  --color-aqua-belt: #7dcecc;
  --color-halite-blue: #0a2a45;
  --color-lusty-salmon: #efb4a6;
  --color-army-canvas: #5d7261;
  --color-verve-violet: #934d7d;
  --color-trapped-darkness: #0f1a2c;
  --color-tangerine-flake: #e57c5c;
  --color-bleeding-crimson: #99170f;
  --color-birch-strain: #ddb760;
  --color-tangerine-cream: #ffa386;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-black);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-suisse-intl);
}
